.decoration{
	text-decoration: none;
}
.nav-a {
	font-size: 22px;
	color: #3D58A6;
	font-family: "BPG Nino Mtavruli", sans-serif;
}
.active{
	color: #EE4036;
}
.date{
	width:56px;
	height:56px;
	background-color:#3D58A6;
	margin-left: 30px;
}
/*.info {
	text-align: center;
}*/
.span2{
	color:#808080;
}
.span1{
	color:#3D58A6;
}
.logo{
	display:inline-block;
	vertical-align: middle;
   /* margin-top: 30px;
    margin-right: 1235.8px;
    margin-bottom: 77.1px;
    margin-left: 30px;*/
    margin-bottom: 77.1px;
    margin-left: 30px;
}
.navigation{
	display:inline-block;
	vertical-align: middle;
	/*margin-top: 30.8px;
	margin-right: 809px;
	margin-bottom: 76.9px;
	margin-left: 180px;*/
	margin-bottom: 76.9px;
}
.nav-li{
	display:inline-block;
	vertical-align: middle;
    margin-left: 49.8px;
}
.satauri{
	margin-top: 117.6px;
	margin-right: 889px;
	margin-bottom: 29.8px;
	margin-left: 98px;
}
.left-block{
	width: 570px;
	height: 225px;
	display: inline-block;
	background-color: #F2F2F2;
	margin-top:29.8px;
	margin-right: 29px;
	margin-bottom: 68.3px;
	margin-left: 98px;
}
.right-block{
	width: 570px;
	height: 225px;
	display: inline-block;
	background-color: #F2F2F2;
    margin-top:29.8px
    margin-right:99px;
    margin-bottom:683px;
    margin-left: 29px;
}
.text-block{
	display: inline-block;
	width: 355px;
	vertical-align: middle;
	padding: 17.4px 15px 41.3px 61.2px;
}
.image-block{
	vertical-align: middle;
	margin-top: 12.7px;
	margin-bottom: 58.7px;
}
.divider{
	width: 2px;
	height: 26.67px;
	background-color: #363E97;
	display: inline-block;
}
.article-block{ 
	vertical-align: top;
	display: inline-block;
	width: 929.02px;
	vertical-align: top;
	margin-top: 40.4px;
}
.section-bg{
	background-color: #E6E6E6
}
.left-block-contact{
	display: inline-block;
	vertical-align: middle;
	/*margin-top: 75.7px;
	margin-right: 63.7px;
	margin-bottom: 452.2px;
	margin-left: 97.3px;*/
	margin: 75.7px 63.7px 452.2px 97.3px;
}
.right-block-contact{
	display: inline-block;
	vertical-align: middle;
}
.fbicon{
	margin: 68.3px 35.6px 38.7px 109.5px;
}
.divider{
	margin: 70px 30.2px 40.4px 35.6px;
}
.yoicon{
	margin:68.3px 482.9px 38px 30.2px;
}
.satauri1{
	margin: 40.5px 0px 17.5px 30px;
	font-family: "ALK Sanet", sans-serif;
}
.article-text{
	vertical-align: top;
	margin: 21px 98px 33.9px 39px;
	font-family: 'BPG Nino Mtavruli Bold';
}
.imgnews{
    margin: 17.5px 39px 185.4px 30px;
}
.container-block{
	width: 1170px;
	/*margin-right: auto;
	margin-left: auto;*/
	margin: 0 auto;
}
